{% extends 'base.html' %}
{% load static %}
{% block title %}Чат{% endblock %}
{% block userlog %}<span class="glyphicon glyphicon-pencil"></span>
    <a href="/chat">Чат</a>
    <span class="exit"> <span class="glyphicon glyphicon-log-out "></span>
    <a href="/logout">Выйти</a></span><p >Вы вошли как: <span class="glyphicon glyphicon-user "></span>  {{ user.username }}</p>​{% endblock %}
{% block content %}
    <div class="chat">
        {% for m in messages %}
            {% include "message.html" with message=m %}
        {% endfor %}
    </div>
    <form class="input" action="{% url "message" %}" method="post">
        {% csrf_token %}
        <div class='input_attach' class='btn'></div>
        <input type="text" name="text" value="" placeholder="Enter message here"/>
        <button type="submit" class='input_send' class='btn btn-light'></button>
    </form>
{% endblock %}