{% extends 'base.html' %}
{% load static %}
{% block title %}Чат{% endblock %}
{% block userlog %}<span class="glyphicon glyphicon-pencil"></span>
    <a href="/chat">Чат</a>
    <span class="exit"> <span class="glyphicon glyphicon-log-out "></span>
    <a href="/logout">Выйти</a></span><p >Вы вошли как: <span class="glyphicon glyphicon-user "></span>  {{ user.username }}</p>​{% endblock %}
{% block content %}
    <script src="{% static "jquery-3.3.1.js" %}"></script>
    <script src="{% static "core/js/csrf.js" %}"></script>
    <script src="{% static "core/js/scripts.js" %}"></script>

<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <input id="avatar" type="file" class="" name="avatar">
    </p>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
